.email-input {

  display: inline-block;
  margin: 4px;

  input {
    border: none;
    font-size: 14px;
    line-height: 24px;
    padding: 0 10px;
    outline: none;

    &:focus {
      border: none;
    }
  }
}
