.email-input {

  display: inline-block;
  margin: 4px;
  flex: 1 1 auto;

  input {
    border: none;
    font-size: 14px;
    line-height: 24px;
    outline: none;
    width: 100%;
    box-sizing: border-box;

    &:focus {
      border: none;
    }
  }
}
