:root {
  --background-color: #fff;
  --text-color: #050038;
  --gray-color: #F8F8F7;
  --blue-color: #4262FF;
  --blue-color-hover: #455bed;
  --blue-light: rgba(102, 153, 255, 0.2);
  --dark-gray-color: #C3C2CF;
  --transition-time: .2s;

}
