    <div class="emails-container__top">
        <div class="emails-header">
            <div class="emails-header__text">
                Share <span class="emails-header__text-title">#TITLE#</span> with others
            </div>
        </div>
        <div class="emails-editor">
            <div class="emails-list" id="emails-list-#POSTFIX#">
                <input
                    type="text"
                    placeholder="add more people..."
                    id="input-email-#POSTFIX#"
                    class="email-input"
                />
            </div>
        </div>
    </div>
    <div class="emails-controls">
        <div class="emails-buttons">
            <button class="emails-button" id="add-email-#POSTFIX#">Add email</button>
            <Button class="emails-button" id="count-email-#POSTFIX#">Get emails count</Button>
        </div>
    </div>

